/* font-family: 'Arima Madurai', cursive;
font-family: 'Chicle', cursive;
font-family: 'Kavoon', cursive;
font-family: 'Baloo Tammudu', cursive;
font-family: 'Purple Purse', cursive;
font-family: 'Modak', cursive;
font-family: 'Francois One', sans-serif; */



body {
    height: 150vh;
    background-image: linear-gradient(-30deg, #f01176, #0848f7)
}
header {
    width: 100%;
    text-align: center;
}

.logo {
    width: auto;
    height: 300px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

h1 {
    font-family: "The Brandy";
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.349) 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    font-size: 90px;
    text-align: center;
    margin-top: -95px;
}

.main-content {
    background-color: black;
    color: white;
    width: 85%;
    margin: 30px auto;
    padding: 20px;
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    font-style: bold;
    text-align: center;
    border-radius: 8px;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 0 5px;
}

.btn {
    border: 3px solid #2F131E;
    font-size: 20px;
    width: 300px;
    padding: 20px;
    background-color: #CEC3C1;
    margin: 30px auto;
    text-align: center;
    font-family: 'Francois One', sans-serif;
}

.btn:hover {
    background-color: #f01176;
}

.timer {
    padding: 20px;
}

.question-container {
    display: flex;
    flex-direction: column;
    grid-gap: 5rem;
    align-content: center;
}
.question {
    margin: 10px auto;
}
.answer-btn {
    font-size: 30px;
    margin: 10px auto;
    width: 30%;
    text-align: center;
    font-family: 'Francois One', sans-serif;
    background-color: #f01176;
}

.answer-btn:hover {
    background-color: #aa2cdb;
}

.gif {
    margin: 24px auto;
    width: 50%;
}

.endphoto-wrapper {
    width: 80%;
    margin: 24px auto;
}
