body {
    background-color: #A491D3;
}
header {
    width: 100%;
    text-align: center;
    background-color: #87F5FB;
}

h1 {
    color: #2F131E;
    font-size: 60px;
}

.main-content {
    background-color: #E1CA96;
    width: 960px;
    margin: 30px auto;
    padding: 20px;
}

.btn {
    border: 3px solid #2F131E;
    font-size: 20px;
    width: 300px;
    padding: 20px;
    background-color: #CEC3C1;
    margin: 30px auto;
    text-align: center;
}